@using learn_aspdotnet.Helpers;


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendAnswer</title>
</head>
<body>
    <div>
        <!--Html.CreateFormForQuiz()-->
    </div>
</body>
</html>
