@using learn_aspdotnet.Helpers;


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllProducts</title>
</head>
<body>
    <div> 
        @Html.CreateParagraph(text: "Create Paragraph HTML helper, my first html helper");
    </div>
</body>
</html>
