@model string
@{
    //Layout = null;
    ViewData["Title"] = "PrintValue";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintValue</title>
</head>
<body>
    <div> 
        <h1>@Model.Age</h1>
    </div>
</body>
</html>
